{% extends 'hostapp/base.html' %}
{% load static %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-12 mt-5 ">
        <img src="{% static 'hostapp/images/about.png' %}" class="img-fluid" alt="">
      </div>
      <div class="col-md-6 col-12 p-5">
        <h1>Welcome</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, excepturi fugit laudantium alias, illo suscipit eius quia, quibusdam sequi quidem dolores aspernatur quam incidunt. Consequatur voluptas architecto totam expedita doloribus quos, veniam ipsum, molestiae maxime voluptates nemo tenetur eveniet. Voluptate voluptatem porro dolores molestiae eius, rerum cum minus placeat cumque.</p>
      </div>
    </div>
  </div>
{% endblock %}