{% extends 'hostapp/base.html' %}
{% load static %}
{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-12 p-4">
        <div class="card">
          <img src="{% static 'hostapp/images/img1.png' %}"alt="">
          <div class="card-body">
            <h1 class="card-title">Salamandar</h1>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, dolorem!</p>
          <a href="#" class="btn btn-primary">submit</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 p-4">
        <div class="card">
          <img src="{% static 'hostapp/images/img2.png' %}" alt="">
          <div class="card-body">
            <h1 class="card-title">Caramond</h1>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, dolorem!</p>
          <a href="#" class="btn btn-primary">submit</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 p-4">
        <div class="card">
          <img src="{% static 'hostapp/images/img3.png' %}" alt="">
          <div class="card-body">
            <h1 class="card-title">CHILLIPOWDER</h1>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, dolorem!</p>
          <a href="#" class="btn btn-primary">submit</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 p-4">
        <div class="card">
          <img src="{% static 'hostapp/images/img4.png' %}" alt="">
          <div class="card-body">
            <h1 class="card-title">SALT</h1>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, dolorem!</p>
          <a href="#" class="btn btn-primary">submit</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 p-4">
        <div class="card">
          <img src="{% static 'hostapp/images/img5.png' %}" alt="">
          <div class="card-body">
            <h1 class="card-title">FISH</h1>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, dolorem!</p>
        <a href="#" class="btn btn-primary">submit</a>
             </div>
        </div>
      </div>
      <div class="col-md-4 col-12 p-4">
        <div class="card">
          <img src="{% static 'hostapp/images/img6.png' %}" alt="">
          <div class="card-body">
            <h1 class="card-title">PEPPER</h1>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, dolorem!</p>
        <a href="#" class="btn btn-primary">submit</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 p-4">
        <div class="card">
          <img src="{% static 'hostapp/images/img7.png' %}" alt="">
          <div class="card-body">
            <h1 class="card-title">POWDER</h1>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, dolorem!</p>
      <a href="#" class="btn btn-primary">submit</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 p-4">
        <div class="card">
          <img src="{% static 'hostapp/images/img8.png' %}" alt="">
          <div class="card-body">
            <h1 class="card-title">SALCOME</h1>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, dolorem!</p>
            <a class="btn btn-primary" href="#">submit</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 p-4">
        <div class="card">
          <img src="{% static 'hostapp/images/img9.png' %}" alt="">
          <div class="card-body">
            <h1 class="card-title">SALCOME</h1>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, dolorem!</p>
            <a href="#" class="btn btn-primary">submit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}